flask
fastapi
uvicorn
pydantic
twilio
requests
python-multipart
sentence-transformers
faiss-cpu
torch
transformers
pandas
numpy
google-generativeai
python-dotenv
opencv-python
pytesseract
fuzzywuzzy
python-Levenshtein
pypdf
easyocr

paddleocr
paddlepaddle

edge-tts

